_wandb:
    value:
        cli_version: 0.19.6
        m: []
        python_version: 3.10.13
        t:
            "1":
                - 1
                - 5
                - 9
                - 11
                - 12
                - 30
                - 41
                - 45
                - 49
                - 53
                - 54
                - 55
                - 103
                - 106
            "2":
                - 1
                - 5
                - 9
                - 11
                - 12
                - 30
                - 41
                - 45
                - 49
                - 53
                - 54
                - 55
                - 103
                - 106
            "3":
                - 2
                - 13
                - 23
                - 55
            "4": 3.10.13
            "5": 0.19.6
            "6": 4.48.2
            "8":
                - 5
                - 9
            "12": 0.19.6
            "13": linux-x86_64
