_wandb:
    value:
        cli_version: 0.19.6
        m: []
        python_version: 3.10.13
        t:
            "1":
                - 1
                - 5
                - 53
                - 54
                - 55
            "2":
                - 1
                - 5
                - 53
                - 54
                - 55
            "3":
                - 13
                - 23
                - 55
            "4": 3.10.13
            "5": 0.19.6
            "8":
                - 5
            "12": 0.19.6
            "13": linux-x86_64
